body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.small-margin {
  margin: 20px 30px;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;

  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 5px;
}

.hero {
  color: white;
  border: 1px solid lightgrey;
  padding: 150px 60px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/media/plaza-mayor.jpeg);
  background-size: cover;
}

.hero a {
  display: inline-block;
  margin-top: 30px;
  padding: 16px 32px;
  font-weight: 700;
  letter-spacing: 3px;
  color: black;
  background-color: white;
  text-decoration: none;
}

section {
  padding: 80px 100px;
  max-width: 1200px;
}
section.secondary {
  background-color: whitesmoke;
}

img {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}
.grid-2-columns-no-gap {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-align: start;
  margin: 10px 0;
}
main h3 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.5;
  text-align: start;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
  margin: 0;
}

.card {
  background-color: #ffff;
  margin: 10px 0 60;
}

.card-body {
  margin: 30px 30px;
}

.card-footer {
  margin: 30px 30px 50px;
}

.card .btn {
  display: block;
  color: white;
  background-color: #330c0fcc;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  margin: 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

footer {
  color: white;
  padding: 40px 40px;
  background-image: linear-gradient(#330c0fcc, #330c0fcc),
    url(../media/metropolitan.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5px;
  opacity: 0.7;
}

footer ul {
  list-style: none;
  padding-left: 0;
}
footer p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
footer a {
  color: white;
}

@media (max-width: 800px) {
  section {
    margin: 50px 70px;
  }

  .hero {
    padding: 60px 0;
  }
  h1 {
    font-size: 48px;
    line-height: 1;
    margin: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  h3 {
    font-size: 12px;
    line-height: 1;
  }

  .hero a {
    margin-top: 30px;
    padding: 8px 16px;
    font-size: 10px;
  }
  .grid {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }

  main h2 {
    font-size: 30px;
  }

  footer {
    padding: 50px 50px;
  }

  footer h4 {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
  }

  footer p {
    font-size: 12px;
    line-height: 1.5;
  }
}
